/* Default/Mobile */
body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .skip-link:focus {    
    top: 0;
    opacity: 1;
  }

h1 {
    font-size: 36px;
}

.container {
    margin: 5rem auto;
    padding: 20px;
    max-width: 900px;
}

#image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

img {
    max-width: 200px;
    margin: 50px;
    flex-grow: 1;
}

.spacer {
    height: 250px;
}

.image-container-serious {
    display: grid;
    justify-items: left;
    grid-template-columns: 100%;
    grid-gap: 20px;

}

.image-container-serious img {
    width: 100%;
    height: auto;
}

.active {
    font-weight: bold;
    color: #000000;
    padding: 20px;
}

.nav {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav li {
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

.text {
    text-align: center;
    padding-bottom: 30px;
}

footer {
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
    border: solid;
    border-color: #ffffff;
}

footer p {
    text-align: right;
    font-size: 20px;
    text-align: center;
    font-size: small;
    color: orange;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;


}

.para li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(53, 196, 77);
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 9px;
}

.para li:nth-child(2) {
    background-color: lightblue;
}

.para li:nth-child(3) {
    background-color: orchid;
}



.main-content-serious {
    display: flex;
    align-items: center;
    
  }
  
  .main-content-serious img {
    float: left;
    margin-right: 30px; 
    margin-left: 10px;
  }
  
  .main-content-serious p {
    text-align: justify;
    margin: 0;
    display: inline-block;
    background-color: palegreen;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
  }



/* Tablet */
@media (min-width: 600px) {
    body {
        background-color: blanchedalmond;
    }

    .image-container-funny {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }


    .nav{
        align-items: flex-end;
    }

    .para{
        flex-direction: row;
    }
}



/* Desktop */
@media (min-width: 900px) {
    body {
        background-color: antiquewhite;

    }

    .image-container-funny {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav{
        flex-direction: row;
        justify-content: space-around;
    }

    .para{
        flex-direction: row-reverse;
    }
}