/* Default/Mobile */
body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color:bisque;
}

h1{
    font-size: 36px;
}

.container{
    margin: 5rem auto;
    padding: 20px;
    max-width: 900px;
}

#image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

img{
    max-width: 200px;
    margin: 50px;
    flex-grow: 1;
}

.spacer{
    height: 200px;
}

/* Tablet */
@media (min-width: 600px) {
body{
    background-color:blanchedalmond; 
}
/* nav{

} */
}



/* Computer */
@media (min-width: 900px) {
body{
    background-color:antiquewhite;
}
/* nav{

} */
}
  