/* Default/Mobile */
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: azure;
}

h1{
    font-size: 36px;
}

.container{
    margin: 10rem auto;
    max-width: 1000px;
/* 
    display: grid;
    grid-template-columns: repeat(5, 1fr); */
}

#image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* .image-container img {
    flex-basis: 100%;
    margin: 10px;
} */

img{
    max-width: 200px;
    margin: 50px;
    flex-grow: 1;
}



/* Tablet */
@media (min-width: 480px) {
body{
    background-color: beige;
}
/* .image-container{

}

.image-container img {

} */
}



/* Computer */
@media (min-width: 770px) {
body{
    background-color: bisque;
}
/* .image-container{

}

/* .image-container img {

} */
}
  